@using CrudFornecedor.Extensions
@model IEnumerable<Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover table-header custom-table">
    <thead class="table">
    <tr>
        <th style="text-align: center; font-size: 16px;">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="text-align: center; font-size: 16px;">
            @Html.DisplayNameFor(model => model.CnpjFormatado)
        </th>
        <th style="text-align: center; font-size: 16px;">
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.EnderecoRua)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.EnderecoNumero)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.EnderecoComplemento)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.EnderecoBairro)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th style="text-align: center; font-size: 16px">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td style="text-align: center" class="cnpj-column">
                @Html.DisplayFor(modelItem => item.CnpjFormatado)
            </td>
            <td style="text-align: center">
                @item.Especialidade.GetDescription()
            </td>
            <td style="text-align: center" class="cep-column">
                @Html.DisplayFor(modelItem => item.CepFormatado)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.EnderecoRua)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.EnderecoNumero)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.EnderecoComplemento)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.EnderecoBairro)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td style="text-align: center">
                @item.Estado.GetDescription()
            </td>
            <td colspan="4" style="width: 100%;">
                <div class="button-container">
                    <a asp-action="Edit" class="btn btn-primary btn-sm bg-light" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" class="btn btn-primary btn-sm bg-light" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Apagar</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <style>
        .btn-primary.bg-light {
            background-color: #f8f9fa;
            color: black;
        }

            .btn-primary.bg-light:hover {
                background-color: #007bff;
                color: mediumblue;
            }
    </style>
    <style>
        .button-container {
            display: flex;
            justify-content: space-between;
        }

            .button-container a {
                margin-right: 10px;
            }
    </style>
    <style>
        .cnpj-column
        {
            min-width: 165px;
        }

        .cep-column {
            min-width: 120px;
        }

        .custom-table {
            width: auto;
            margin-left: -40px;
            table-layout: fixed;
        }
    </style>
}